
<div class="main">
  <div class="container" *ngIf="isCardVisibile">
      <div class="card" *ngFor="let shoe of shoes">
        <img src={{shoe.immagine}} alt="">
        <h2 [ngClass]="isAvailable(shoe)" [ngStyle]="isBarrato(shoe)">
          {{shoe.nome}}
        </h2>
        <p>{{shoe.descrizione}}</p>
        <p>{{shoe.costo | currency:"EUR"}}</p>
        <button (click)="showDetail(shoe)">Dettaglio</button>
        <button class="cancel" (click)="deleteShoe(shoe)">Delete</button>
      </div>
      <div>
        <button class="btn-add" (click)="showForm()" *ngIf="!isFormVisibile">{{adds | uppercase}}</button>
      </div>
  </div>
  
  
  
  <div class="form" *ngIf="isFormVisibile">
    <form #homeForm="ngForm"  (ngSubmit)="onSubmit(homeForm)">
      <div>
        <label for="name">Nome scarpa: </label>
        <input id="name" name="name" type="text" [(ngModel)]="shoe.nome" required="name" placeholder="Exemple: Nike Dunk"/>
      </div>
    
      <div>
        <label for="descrizione">descrizione scarpa: </label>
        <input name="descrizione" type="text" [(ngModel)]="shoe.descrizione" required="descrizione" placeholder="Exemple: Scarpa - Uomo" />
      </div>
  
       <div>
        <label for="costo">costo: </label>
        <input name="costo" type="number" [(ngModel)]="shoe.costo" required="costo" placeholder="Exemple: 119.99"/>
      </div>
    
        <div class="c_disp">
          <label class="disp" for="disp">Disponibile: </label>
          <input name="disp" [checked]="false" type="checkbox" [(ngModel)]="shoe.disponibile" required/>
        </div>
    
        <div>
          <label for="image">immagine: </label>
          <input name="image" type="text" [(ngModel)]="shoe.immagine" required="image" placeholder="Exemple: https://www.bing.com/images/search"/>
        </div>
  
        <div>
          <label for="taglie">taglie: </label>
          <input name="taglie" type="text" [(ngModel)]="shoe.taglie" required="taglie" placeholder="Exemple: 42, 45, 39"/>
        </div>
  
        <div>
          <label for="color">colore: </label>
          <input name="color" type="text"  [(ngModel)]="shoe.colori" required="color"  placeholder="Exemple: bianco, blu, rosso" />
        </div>
    
      <input class="sub" type="submit" value="invia" [disabled]="!homeForm.valid">
    </form>
  </div> 

  
  <div class="ditails" *ngIf="isDitailVisibile">
   <div class="c_ditails">
      <img src={{shoe.immagine}} alt="">
      <div class="c_text">
        <h2>
          {{shoe.nome}}
        </h2>
        <p>{{shoe.descrizione}}</p>
        <p>{{shoe.costo | currency : 'EUR'}}</p>
        <p>{{shoe.taglie}}</p>
        <p>{{shoe.colori}}</p>
        <p>disponibile: {{shoe.disponibile? 'Sì': 'No'}}</p>
        <button (click)="goBack()">Back</button>
      </div>
   </div> 
  
</div>

